<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendario de Vacunación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendario de Vacunación</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label class="ion-text-wrap">Fecha de Nacimiento</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
  </ion-item>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        locale="es-ES"
        [max]="maxDateSupported"
        presentation="date"
        [(ngModel)]="bornDate"
        (ionChange)="setBornDate($event)"
        [showDefaultButtons]="true"
      >
        <span slot="title">Selecciona Fecha de Nacimiento</span>
        <span slot="time-label">Tiempo</span>
      </ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-list>
    <ion-list-header>
      <ion-label>Calendario de Vacunación</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let vaccine of vaccines;">
      <ion-label class="ion-text-wrap">
        <h1>{{vaccine.title}}</h1>
        <p>{{vaccine.extra}}</p>
        <p>{{vaccine.age | age}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
